body {
    background-image: url("ShahJahan-Mumtaz.jpg");
	background-repeat: repeat-x;
	background-position: right top;
	text-align: center;
	

	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	
    padding-top: 12px;
    padding-right: 20px;
    padding-bottom: 12px;
    padding-left: 20px;

}


img.floatLeft { 
    float: left; 
    margin: 0px;
	width:400px;
	height:700px;
	border:7px solid black;
}
img.floatRight {
	float: Right;
	margin: 0px;
	width:400px;
	height:700px;
	border:7px solid black;

}


a:link {
    color: blue;
}

a:visited {
    color: red;
}

a:hover {
    color: yellow;
}

a:active {
    color: green;
}

h1 {
    color: navy;
    margin-left: 20px;
	font-size: 500%;
	text-shadow: 5px 5px 5px grey;

}

h2 {
    font-size: 300%;
	text-align: center;
	font-style: italic;
	color:blue;
	text-shadow: 5px 5px 5px grey;
}

h1.caitalize {
    text-transform: capitalize;
}

p:first-letter {  
    font-size: 30px;  
	color: blue
}


